<!DOCTYPE html>
<html lang="en">

<head></head>
<title>{{ list.name }}</title>

<body>
    <main>
        <div>
            <h1>{{ list.name }}</h1>
            <p>
                <a href="{% url 'todo_list_update' list.id %}">Edit</a>
            </p>
            <p>
                <a href="{% url 'todo_list_delete' list.id %}">Delete</a>
            </p>
            <h2>Tasks</h2>
            <table>
                <thread>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                </thread>
                </tr>
                <tbody>
                    {% for item in list.items.all %}
                    <tr>
                        <td>
                            
                        </td>
                        <tb>{{ item.due_date|date:"M d, Y" }}</tb>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </main>
</body>

</html>
