<!DOCTYPE html>
<html lang="en">
<header>
    <title>Update {{ list.name }}</title>
    <nav></nav>
</header>

<body>
    <main>
        <div>
            <h1>Update list</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Update</button>
            </form>
        </div>
    </main>
</body>

</html>
